.post__img.post__img--4,
.post__img.post__img--2,
.post__img.post__img--5,
.post__img.post__img--6 {
    display: block;
}

.post__img.post__img--1 {
	order: 0;
}

.post__img.post__img--2 {
	order: 300;
}

.post__img.post__img--3 {
	order: 100;
}

.post__img.post__img--4 {
	order: 400;
}

.post__img.post__img--5 {
	order: 200;
}

.post__img.post__img--6 {
	order: 500;
}

.post__img.post__img--7 {
	background-image: url("../images/post/PFCUL1.jpg");
	order: 1000;
}

.post__img.post__img--8 {
	background-image: url("../images/post/PMF1.jpg");
	order: 600;
}

.post__img.post__img--9 {
	background-image: url("../images/post/RANKING1.jpg");
	order: 900;
}

.post__img.post__img--10 {
	background-image: url("../images/post/TPL1.jpg");
	order: 700;
}

.post__img.post__img--11 {
	background-image: url("../images/post/UCC1.jpg");
	order: 800;
}

.post__img.post__img--12 {
	background-image: url("../images/post/VOL4.jpg");
	order: 150;
}

.post {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    width: auto;
    max-width: 100%;
}

.post__back {
    flex-wrap: wrap;
    gap: 10px;
    width: 225px;
    margin: auto;
}

.post__img {
    position: relative;
    flex-basis: 225px;
    max-width: 225px;
    width: 225px;
    height: 300px;
}

.post__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.post__download {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.post__downCircle {
    position: absolute;
    background-color: #e4e4e4;
    height: 36px;
    width: 36px;
    padding: 9px;
    border-radius: 18px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.post__downIcon {
    position: absolute;
    color: #2B2B2B;
    height: 18px;
    width: 18px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media only screen and (min-width: 550px) {
    .post__back {
        width: 460px;
    }
}

@media only screen and (min-width: 800px) {
    .post__back {
        width: 695px;
    }
}

@media only screen and (min-width: 1200px) {
    .post__back {
        width: 930px;
    }
}

/* @media only screen and (min-width: 1500px) {
    .post__back {
        width: 1165px;
    }
} */

@media only screen and (min-width: 1700px) {
    .post__back {
        width: 1400px;
    }
}