.post__img.post__img--4,
.post__img.post__img--2,
.post__img.post__img--5,
.post__img.post__img--6 {
    display: block;
}

.post {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    width: auto;
    max-width: 100%;
}

.post__back {
    flex-wrap: wrap;
    gap: 10px;
    width: 225px;
    margin: auto;
}

.post__img {
    flex-basis: 225px;
    max-width: 225px;
    width: 225px;
    height: 300px;
}

@media only screen and (min-width: 550px) {
    .post__back {
        width: 460px;
    }
}

@media only screen and (min-width: 800px) {
    .post__back {
        width: 695px;
    }
}

@media only screen and (min-width: 1200px) {
    .post__back {
        width: 930px;
    }
}

@media only screen and (min-width: 1500px) {
    .post__back {
        width: 1165px;
    }
}

@media only screen and (min-width: 1700px) {
    .post__back {
        width: 1400px;
    }
}