@font-face{
  font-family: "centGothicBold";
  src: url("../fonts/centGothicBold.otf") format("truetype");
 }

@font-face{
  font-family: "centGothicLigth";
  src: url("../fonts/centGothicLigth.otf") format("truetype");
}

html {
	line-height: 1;
}

body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: centGothicBold;
}

.letter-spacing-0 {
	letter-spacing: 0;
}

.bg {
	position: fixed;
	z-index: 5;
	height: 100vh;
	width: 100%;
	background-image: url("../images/ex-pen-jujuy/ex-pen-jujuy-aerialView.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg__blur {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.7;
	z-index: 5;
}

.nav {
	position: fixed;
	width:  100%;
	height: 45px;
	z-index: 100;
}

.nav__cont {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 110;
}

.nav__blur {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.7;
	transition: opacity 1s;
}

.nav__ic {
	list-style: none;
	padding-inline-start: 0;
	width: 100%;
	height: 100%;
}

.nav__icon {
	position: absolute;
	display: inline-block;
	width: 45px;
	height: 100%;
}

/*
.nav__icon--logo {
	left: 50%;
	transform: translate(-50%,0);
	height: 100%;
}

.nav__logo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
*/

.nav__butList {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}

.nav__hambur {
	height: 30px;
	fill: #333333;
}

.nav__curtblur {
	position: absolute;
	width: 100%;
	height: calc(100vh - 45px);
	top: 45px;
	background-color: #fff;
	opacity: 0;
	transition: opacity 1s;
}

.nav__list {
	position: relative;
	width: 100%;
	height: 100vh;
	list-style: none;
	padding-inline-start: 0;
	opacity: 0;
	transition: opacity 1s;
}

.nav__item {
	position: relative;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 10px;
	/*border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;*/
}

.nav__item--first {
	position: relative;
	padding-top: 5px;
	margin-top: 0px;
} 

/* 
.nav__item--first {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
} 
*/

.nav__title {
	position: relative;
	font-size: 30px;
	padding-left: 40px;
	color: #333333;
}

.nav__title--arq {
	font-family: centGothicLigth;
	font-size: 15px;
	letter-spacing: 4px;
}

.nav__h2 {
	position: relative;
	font-size: 25px;
	line-height: 30px;
	color: #333333;
}

.nav__socMedia {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	padding-left: 45px;
	padding-right: 45px;
	margin-top: 45px;
	margin-bottom: 45px;
	bottom: 45px;
}

.nav__ig,
.nav__fb {
	position: relative;
	flex-basis: 50%;
	max-width: 50%;
	height: 30px;
	margin: 6px 12px;
	line-height: 0;
	color: #333333;
}

.nav__igIcon,
.nav__fbIcon {
	width: 100%;
	height: 100%;
}

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: 5;
}

.home__logo {
	position: absolute;
	width: 250px;
	height: fit-content;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.home__circles {
	position: relative;
	margin: 0;
	width: 100%;
}

.home__title {
	position: relative;
	width: 100%;
	font-size: 60px;
	margin: 0;
	text-align: center;
	color: #333333;
}

.home__title--sec {
	position: relative;
	width: 100%;
	font-family: centGothicLigth;
	font-size: 25px;
	letter-spacing: 10px;
}

.pj {
	position: relative;
	height: 2000px;
	width: 100%;
	background-color: #2B2B2B;
	z-index: 10;
}

/* Javascrip styles and animations*/

.hidden {
	display: none;
}


.showOpa100 {
	opacity: 1;
}

.showOpa90 {
	opacity: 0.9;
}
